.list {
  margin: 2rem 0rem;
  border: 1px solid red;
}

.item {
  border: 1px solid red;
  padding: 2rem;
  margin-bottom: 2rem;
}

.item__description2 {
  word-break: break-all !important;
  overflow-wrap: break-word !important;
  word-break: break-word;
  color: red;
  min-width: 0;
  overflow-wrap: break-word;
  padding: 2rem;
}
