.todo {
  &ToggleViewButton {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.33s ease;

    &:hover {
      border-bottom: 1px solid var(--primary-color);
    }

    svg {
      color: var(--primary-color);
      transition: color 0.33s ease;
    }

    &:hover svg {
      color: var(--primary-color-hover);
    }

    &:focus-visible {
      outline: 2px solid var(--primary-color);
      outline-offset: 4px;
    }
  }
}
