.editor {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 12px;

  &Body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
  }

  &Field {
    padding: 0.25rem 1rem;
    border-radius: 8px;
    color: var(--text-primary);

    &:focus {
      &::placeholder {
        color: var(--primary-color);
      }
    }

    &Title {
      font-weight: 500;
      font-size: 1.6rem;
    }

    &Description {
      font-size: 1.4rem;

      &::placeholder {
        font-weight: 400;
        opacity: 0.5;
      }
    }
  }

  &Footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    padding: 1.25rem;
  }

  &Btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    transition: background-color 0.11s ease;

    &Secondary {
      background-color: var(--secondary-color);
      color: var(--color-white);

      &:hover:not(:disabled) {
        background-color: var(--secondary-color-hover);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      }
    }

    &Primary {
      background-color: var(--primary-color);
      color: var(--color-white);

      &:hover:not(:disabled) {
        background-color: var(--primary-color-hover);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}
