.titleCounter {
  position: absolute;
  right: 10px;
  top: 10px;
  // color: var(--success-color);
  opacity: 0.5;
}

.error {
  padding: 5px 10px;
  background-color: var(--primary-color);
  // color: white !important;
  color: white;

  font-size: 1rem;
  border-radius: 12px;
  // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  // opacity: 0.5;
  // font-style: italic;
  position: relative;
  // border: 1px solid red;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 25%;
    transform: translateX(-25%);
    bottom: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--primary-color);
  }
}

.editor {
  width: 100%;
  border: 1px solid var(--border-color);
  position: relative;
  display: flex;
  flex-direction: column;
  // border-radius: 12px;

  &Body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
  }

  &Field {
    padding: 0.25rem 1rem;
    width: 75%;
    // border: 1px solid white;
    // padding-right: 15%;
    color: var(--text-primary);
    word-break: break-word; // переносить довгі слова на новий рядок
    overflow-wrap: anywhere; // сучасний аналог, робить теж саме

    &:focus {
      &::placeholder {
        color: var(--primary-color);
      }
    }

    &Title {
      font-weight: 500;
      font-size: 1.6rem;
    }

    &Description {
      font-size: 1.4rem;

      &::placeholder {
        font-weight: 400;
        opacity: 0.5;
      }
    }
  }

  &Footer {
    display: flex;
    justify-content: space-between;
    // gap: 0.75rem;
    align-items: flex-end;
    // border: 1px solid red;
    height: 100%;
    padding: 2rem;
  }

  &Buttons {
    display: flex;
    gap: 1rem;
  }

  &Btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    transition: background-color 0.11s ease;

    &Secondary {
      background-color: var(--secondary-color);
      color: var(--color-white);

      &:hover:not(:disabled) {
        background-color: var(--secondary-color-hover);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      }
    }

    &Primary {
      background-color: var(--primary-color);
      color: var(--color-white);

      &:hover:not(:disabled) {
        background-color: var(--primary-color-hover);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      }

      &:disabled {
        cursor: not-allowed;
        background-color: var(--secondary-color);
        cursor: not-allowed;
        opacity: 0.7;
        opacity: 0.5;
      }
    }
  }
}
