.todo {
  padding-top: 5rem;

  &Header {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-bottom: 2rem;
  }

  &Button {
    font-size: 1.6rem;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;

    svg {
      color: var(--primary-color);
      transition: color 0.33s ease;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &ToggleViewButton {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.33s ease;

    &:hover {
      border-bottom: 1px solid var(--primary-color);
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &Actions {
    padding: 3rem 0rem;
    text-align: center;
  }

  &LoadMore {
    cursor: pointer;

    // width: 100%;
    text-align: center;
    border: 1px solid var(--primary-color);
    // background-color: var(--primary-color);
    padding: 0.5rem 3rem;
    font-size: 15px;
    border-radius: 1rem;
    // font-weight: 600;
    text-transform: uppercase;
    // transform: translateY(0px) scale(0.95);
    // transition: transform 0.33s ease;

    &:hover {
      // transform: translateY(0px) scale(1);

      // color: var(--primary-color);
      // border-bottom: 1px solid var(--primary-color);
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item {
  min-height: 15rem;
  display: flex;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  > li:last-child:nth-child(odd) {
    grid-column: span 2;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    > li:last-child:nth-child(odd) {
      grid-column: auto;
    }
  }
}

@media (max-width: 576px) {
  .card {
    display: flex !important;
    flex-direction: column !important;
    gap: 2rem !important;
  }
}
