.emptyState {
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  border: 1px solid var(--border-color);

  &Header {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-secondory);
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
  }

  &Body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  &Bar {
    height: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 4px;

    &Long {
      width: 90%;
    }

    &Short {
      width: 60%;
    }
  }
}
