.search {
  // width: 100%;
  // padding-left: 36px;
  // padding-right: 36px;
  color: var(--text-primary);
  // border: 1px solid var(--border-color);
  // background-color: var(--sidebar-color);

  &Field {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.searchField * {
  transition: all 0.15s ease;
}

.input {
  width: 100%;
  padding: 10px 36px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--sidebar-color);
  transition: all 0.2s ease;
  color: var(--text-primary);

  &:hover {
    border-color: #8c959f;
  }

  &:focus {
    outline: none;
    // border-color: #2a7aef;
    border-color: var(--primary-color);
    // border-color: var(--secondary-color-hover);
    // box-shadow: 0 0 0 3px rgba(42, 122, 239, 0.15);
  }
}

.input:not(:placeholder-shown) {
  border-color: #2a7aef;
}

.input:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.searchIcon {
  position: absolute;
  left: 10px;
  width: 1.8rem;
  height: 1.8rem;
  // pointer-events: none;
  // cursor: pointer;
  // color: #6e7781;
}

.clear {
  position: absolute;
  top: 50%;
  width: 1.8rem;
  height: 1.8rem;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s ease;
  // border: 1px solid red;
}

.clear:hover {
  opacity: 0.7;
}

.suggestions {
  // position: absolute;
  // top: 100%;
  // left: 0;

  // width: 100%;
  background: #262626;
  border: 1px solid var(--border-color);
  border-top: transparent;

  max-height: 200px;
  overflow-y: auto;

  & li {
    padding: 8px 12px;
    cursor: pointer;
  }
}
