@use "../shared/assets/styles/null-style.scss";

:root {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#root {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.main {
  border: 1px solid #424242;
  flex: 1 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.button {
  padding: 1rem;
  border: 1px solid white;
}
