@use "../shared/assets/styles/null-style.scss";
// @use "../shared/assets/styles/nullstyle";

// --accent-main
// --accent-secondary

:root {
  --bg-main: #1f1f1f;
  --text-primary: #fff;
  --text-secondory: #808080;
  --border-color: #3a3a3a;
  --color-white: #fff;
  --color-green: #2dcc44;
  --color-yellow: #ffba32;
  --color-red: #fa584e;
  --sidebar-color: #262626;
  --primary-color: #e26a60;
  --primary-color-hover: #d38080;
  --secondary-color: #424242;
  --secondary-color-hover: #323232;
  --hover-color: #2a2a2a;
}

:root {
  --toggle-circle-x: 0px;
}

html[data-theme="light"] {
  --bg-main: #f9fafb;
  --text-primary: #111;
  --sidebar-color: #d7d7d7;
  --hover-color: #e26a60;
  --toggle-circle-x: 19px;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-main);
  color: var(--text-primary);
}

#root {
  min-height: 100%;
  display: flex;
  overflow-x: hidden;
}

[class*="__container"] {
  max-width: 113rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.app {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.main__container {
  height: 100%;
}

.header,
.footer {
  padding: 25px 0px;
  border-bottom: 1px solid var(--border-color);
}

.header__container,
.footer__container {
  max-width: 183rem;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

//----------------------------------------------------------

.todo-editor-section {
  padding-top: 5rem;

  &:not(:last-child) {
    margin-bottom: 5rem;
  }

  &__open-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 100%;
    height: 30px;

    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;

    transition:
      border-color 0.12s ease,
      color 0.2s ease;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 20px;
      height: 20px;

      font-size: 18px;
      border-radius: 50%;

      transition: all 0.15s ease;
    }

    &:hover {
      color: var(--primary-color);
      border-bottom: 1px solid var(--primary-color);
    }
  }
}
