@use "../shared/assets/styles/null-style.scss";
// @use "../shared/assets/styles/nullstyle";

// --accent-main
// --accent-secondary

:root {
  --bg-main: #1f1f1f;
  --text-primary: #fff;
  --text-secondory: #808080;
  --border-color: #3a3a3a;
  --color-white: #fff;
  --sidebar-color: #262626;
  --primary-color: #e26a60;
  --primary-color-hover: #d38080;
  --secondary-color: #424242;
  --secondary-color-hover: #323232;
  --hover-color: #2a2a2a;
}

:root {
  --toggle-circle-x: 0px;
}

html[data-theme="light"] {
  --bg-main: #f9fafb;
  --text-primary: #111;
  --sidebar-color: #d7d7d7;
  --hover-color: #e26a60;
  --toggle-circle-x: 19px;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-main);
  color: var(--text-primary);
}

#root {
  min-height: 100%;
  display: flex;
  overflow-x: hidden;
}

[class*="__container"] {
  max-width: 113rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.app {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.main__container {
  height: 100%;
}

.header,
.footer {
  padding: 25px 0px;
  border-bottom: 1px solid var(--border-color);
}

.header__container,
.footer__container {
  max-width: 183rem;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

//----------------------------------------------------------

.todo-editor-section:not(:last-child) {
  margin-bottom: 5rem;
}

.todo-editor-section {
  padding-top: 5rem;
  // .todo-editor-section__open-btn

  &__open-btn {
  }
}

.todo-editor-section__open-btn {
  width: 100%;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background: none;
  border: 1px solid var(--border-color);
  border-radius: 12px;

  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-color);

  cursor: pointer;

  transition: all 0.33s ease;

  .icon {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    border-radius: 50%;

    transition:
      background-color 0.2s ease,
      color 0.2s ease;
  }

  &:hover {
    color: var(--primary-color);
  }

  &:hover .icon {
    background-color: var(--primary-color);
    color: #fff;
  }
}
// -------------------------------------------------------

.todo-section {
  // .todo-section__title

  &__body {
  }
}
.todo-list {
  &__body {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
  }

  &__title {
    padding: 1rem 0rem;
    font-size: 2rem;
    // border-bottom: 1px solid var(--border-color);
    margin-bottom: 1rem;
  }

  &__description {
    padding: 1rem 0rem;
    color: var(--text-secondory);
  }

  &__item {
    border: 1px solid var(--border-color);
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
  }

  &__button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color);
    color: var(--color-white);
  }
}
