.item {
  border: 1px solid var(--border-color);

  &Body {
    padding: 1rem;
    border-top: 1px solid var(--border-color);
  }

  &Title {
    padding: 1rem 0rem;
    font-size: 2rem;
    // border-bottom: 1px solid var(--border-color);
    // margin-bottom: 1rem;
  }

  &Description {
    padding: 1rem 0rem;
    color: var(--text-secondory);
  }

  &Actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
  }
  // --------------

  &StarWrap {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;
  }

  &StarOutline,
  &StarFill {
    position: absolute;
    fill: var(--color-yellow);
    inset: 0;
    transition:
      opacity 0.15s ease,
      transform 0.15s ease;
  }

  &StarFill {
    opacity: 0;
  }

  &StarWrap:hover .itemStarFill {
    opacity: 1;
  }

  &StarWrap:hover .itemStarOutline {
    opacity: 0;
  }

  // ------------

  &ButtonsWrap {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &Button {
    cursor: pointer;
    font-size: 0;
    width: 15px;
    height: 15px;
    // border-radius: 50%;

    &Complete {
      background-color: var(--color-green);
    }

    &Edit {
      background-color: var(--color-yellow);
    }

    &Delete {
      background-color: var(--color-red);
    }
  }
}

.itemLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.nativeCheckbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.customCheckbox {
  width: 18px;
  height: 18px;
  // border-radius: 50%;
  border: 2px solid #9ca3af;
  display: grid;
  place-items: center;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    transform 0.1s ease;
}

.nativeCheckbox:checked + .customCheckbox {
  // background-color: #22c55e;
  // border-color: #0f5c2b;
  transform: scale(1.3); /* злегка збільшуємо */
  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.customCheckbox::after {
  content: "✓";
  font-size: 12px;
  color: #8fba5b;
  opacity: 0;
  transform: scale(0.6);
  transition: all 0.15s ease;
}

.nativeCheckbox:checked + .customCheckbox::after {
  opacity: 1;
  transform: scale(2.5);
}

.nativeCheckbox:checked ~ .itemTitle {
  text-decoration: line-through;
  color: #9ca3af;
  opacity: 0.7;
  transition: 0.2s ease;
}

.nativeCheckbox:focus-visible + .customCheckbox {
  outline: 2px solid var(--primary-color);
  outline-offset: 5px;
}

// 00000000000000000000000000000000000000

.nativeCheckbox:checked + .customCheckbox {
  animation: pop 0.25s forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
