.item {
  border: 1px solid var(--border-color);

  &Body {
    padding: 1rem;
    border-top: 1px solid var(--border-color);
  }

  &Title {
    padding: 1rem 0rem;
    font-size: 2rem;
    // border-bottom: 1px solid var(--border-color);
    margin-bottom: 1rem;
  }

  &Description {
    padding: 1rem 0rem;
    color: var(--text-secondory);
  }

  &Actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
  }
  // --------------

  &StarWrap {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;
  }

  &StarOutline,
  &StarFill {
    position: absolute;
    fill: var(--color-yellow);
    inset: 0;
    transition:
      opacity 0.15s ease,
      transform 0.15s ease;
  }

  &StarFill {
    opacity: 0;
  }

  &StarWrap:hover .itemStarFill {
    opacity: 1;
  }

  &StarWrap:hover .itemStarOutline {
    opacity: 0;
  }

  // ------------

  &ButtonsWrap {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &Button {
    cursor: pointer;
    font-size: 0;
    width: 15px;
    height: 15px;
    // border-radius: 50%;

    &Complete {
      background-color: var(--color-green);
    }

    &Edit {
      background-color: var(--color-yellow);
    }

    &Delete {
      background-color: var(--color-red);
    }
  }
}
