.overlay {
  position: fixed;
  inset: 0;
  z-index: 899;
  background: rgba(0, 0, 0, 0.7);
}

.sidebar {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: var(--sidebar-expanded);
  min-height: 100%;
  border-right: 1px solid var(--border-color);
  background-color: var(--sidebar-color);
  transition: width 0.3s ease;

  @media (max-width: 576px) {
    width: 80%;
    transform: translateX(-100%);
    transition: all 0.33s ease;

    &Open {
      transform: translateX(0px);
    }
  }

  &Collapsed {
    width: var(--sidebar-collapsed);
  }

  &Collapsed &Text {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
  }

  &Text {
    white-space: nowrap;
    width: auto;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &Nav {
    flex: 1 0 auto;
    padding: 2rem;
  }

  &List {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &Item {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 2rem;
    padding: 1.2rem 1.4rem;
    transition: background-color 0.2s ease;

    &Active {
      background-color: var(--hover-color);
    }

    &:hover {
      background-color: var(--hover-color);
    }
  }

  &Icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    flex-shrink: 0;
  }

  &ToggleItem {
    padding: 2rem 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &ToggleIconWrapper {
    position: relative;
    width: 24px;
    height: 24px;
  }

  &ToggleIcon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  &TogglePrimaryIcon {
    opacity: 1;
  }

  &ToggleHoverIcon {
    opacity: 0;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    transform: rotate(180deg);
  }

  &ToggleItem:hover .sidebarTogglePrimaryIcon {
    opacity: 0;
  }

  &ToggleItem:hover .sidebarToggleHoverIcon {
    opacity: 1;
  }
}

.theme {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;

  &Switch {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 28px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    transition: background 0.3s ease;

    &:hover .themeCircle {
      transform: translateX(var(--toggle-circle-x)) scale(0.8);
    }
  }
  &Circle {
    position: absolute;
    top: 2.5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translateX(var(--toggle-circle-x)) scale(1);
    transition: transform 0.3s ease;
  }
}
